* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
}
.logo {
    margin-top: 7px;
}
.menu {
    display: flex;
}
.menu li{
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child{
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}
.submenu {
    display: none;      
}
.submenu li:hover {
    background-color:white;
    color: #2c71b8;
}
.products:hover .submenu{
display: block;
position: absolute;

}
.submenu li{
    background-color: #2c71b8;
    color: white;
    height: 40px;
    width: 284px;
    line-height: 40px;
    padding-left: 28px;
}
